.alert{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: red;
}
.success{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 20px;
    color: white;
    background-color: rgba(0, 128, 0, 0.712);
}
.error{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 20px;
    color: #350000;
    background-color: #f02d2d;
}
.warning{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 20px;
    color: white;
    background-color: #E29700;
}
.none{
    display: none;
}