.navbar-root {
  // background-color: gray;
  // margin: 0;
  // top: 0;
  display: flex;
//   display: inline-block;
  width: 100%;
  .logo {
    padding: 2px;
    margin-left: 10px;
    float: left;
    clear: both;
    margin: 5px;
  }
  .search-container
  {
      width: 100%;
  }
  .search{
        // width: 50%;
        display: flex;
        // width: 100%;
        margin: 10px 10px;
        float: right;
        .search-input{
            width: 100%;
            min-width: 150px;
            max-width: 400px;
            padding: 7px;
            outline: 0;
            border: 0;
            font-size: 15pt;
            height: 27px;
            // max-width: 350px;
        background: transparent;
        border-bottom: 2px solid black;
        }
        .search-button{
            padding: 10px;
            margin: 0;
            height: 40px;
            cursor: pointer;
            background: transparent;
            outline: 0;
            border: 0;
        }
    }
  .profile {
    // display: inline-block;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    
    border-radius: 50%;
    cursor: pointer;
    img{
        border-radius: 50%;
        border: 2px solid rgb(95, 95, 95);
        box-shadow: 0 0px 20px rgba(0, 0, 0, 0.19), 0 0px 6px rgba(0, 0, 0, 0.23);
    }
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    margin-left: -80PX; 
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 0px 10px;
    z-index: 1;
    text-align: center;
    cursor: pointer;
  }
  
  .dropdown-content:hover{
      p:hover{
          color: rgba(0, 0, 255, 0.582);
          cursor: pointer;
      }
  }
  .profile:hover .dropdown-content {
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.19), 0 0px 6px rgba(0, 0, 0, 0.23);
    
    display: block;
  }
}
