*{
    box-sizing: border-box;
}
.container-box{
position: fixed;
display: flex;
top: 0;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
background-color: rgb(0, 0, 0);
z-index: 1;
}
.login-box{
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.685);
    margin: 20px;
    max-width: 700px;
}
.box-body{
    width: 100%;
    padding: 10px;
}
.login-input{
    text-align: center;
    padding: 5px;
    font-size: 12pt;
    margin: 7px;
    width: 100%;
}
.login-button{
    padding: 10px 30px;
    font-size: 12pt;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.911);
    color: white;
    border: 0;
    cursor: pointer;
}
.login-button:hover{
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
}
.show-warning{
    display: block;
    text-align: center;
    color: tomato;
}
.hide-warning{
    display: none;
    text-align: center;
    color: tomato;
}
@media screen and (max-width: 480px) 
{
    .login-box{
        height: 50vh;
    }
}