@import '../../../mics/theme.scss';
$sec-font : " font-family: 'Teko', sans-serif '";
body{
    margin: 0;
    // background-image: url('../../img/back.jpg')
}
*{
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box{
    display: flex;
    justify-content: right;
    flex-direction: column;
    width: 500px;
}
.header{
    text-align: center;
    font-size: 15pt;
}
.profile_pic_container{
    display: flex;
    align-content: center;
    justify-content: center;
    // background-color: black;
}
.profile_pic{
    transition: 2s;
    width: 150px;
    height: 150px;
    border: 3px solid rgba(128, 128, 128, 0.651);
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 50px -7px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 0px 50px -7px rgba(0,0,0,0.44);
    box-shadow: 0px 0px 50px -7px rgba(0,0,0,0.44);
}
.username{
    margin: 0;
    text-align: center;
    color:black;
    >p{
        margin: 0;
        padding-top: 20px;
        font-size: 30px;
        font-weight: bold;
    }
    .name{
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 2px solid black;
        margin-top: 20px;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }
    .email{
        font-size: 13pt;
        font-weight: 300;
    }
    
}
.bio{
    display: flex;
    justify-content: center;
    
    textarea{
        border: 0;
        // outline: 0;
        font-family: inherit;
        background-color: rgba(128, 128, 128, 0.199);
    padding: 30px;
    margin: 20px;
    border-radius: 30%;
    max-width: 500px;
    font-weight: 600;
    // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    min-height: 250px;
    min-width: 350px;
    text-align: justify;
    overflow: visible;
    resize: none;
    }
    p{
        border: 0;
        // outline: 0;
        font-family: inherit;
        background-color: rgba(128, 128, 128, 0.199);
        padding: 36px;
        margin: 20px;
        border-radius: 30%;
        max-width: 500px;
        font-weight: 600;
        // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        min-height: 250px;
        min-width: 350px;
        text-align: justify;
        overflow: visible;
        resize: none;
    
    }
}
.button-pos{
    display: flex;
    justify-content: right;
}
.edit-profile-button{
border-radius: 20px 5px;
width: 120px;
margin-right:20px;
background-color: black;
color: whitesmoke;
padding: 15px;
cursor: pointer;
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
@media screen and (min-width: 700px) {
     .edit-profile-button{
         right: 20%;
     }
     .bio{
        textarea{
            max-width: 350px;
        }
    }
}  
// @mixin shadow()
// {
//     box-shadow: 0 0 15px rgba(112, 112, 112, 0.603);
// }
// @mixin box-egde ($curve-size)
// {
//     border-radius: $curve-size;     
// }
// @mixin bg-color($color) {
//     color: white;
//     background-color: $color;
    
// }
// .color-primary{
//     color: $primary-color;
    
// }
// .button{
//     padding: 8px;
//     font-size: 12pt;
//     color: $font-color;
//     background-color: $primary-color;
//     border: 0;
//     cursor: pointer;
//     @include shadow();
//     @include box-egde(3px);
// }

// .sidebar{
//     overflow-y: scroll;
//     position: fixed;
//     font-weight: bolder;
//     min-height: 100%;
//     width: 25%;
//     display: flex;
//     background-color: $sec-color;
//     flex-direction: column;
    
//     div{
//         text-align: center;
//         img{
//             box-shadow: 0 0 0px 3px $primary-color;
//             margin-top: 5%;
//         }        
//         > p{
//             color: $strong-font-color;
//         }
//     }
//     a{
//         text-decoration: none;
//         color: $dark-grey;
//     }
//     a:hover{
//         color: black;
//     }
//     li{
//         list-style: none;
//         margin: 20px;
//     }
//     ul{
//         padding: 0;
//     }
//     hr{
//         border-top: 1px solid $primary-color;
//         width: 40%;
//         // background-color: $primary-color;
//     }
//     .btn{
//         @extend .button;
//         width: 80%;
//     }
// }
// .content
// {
//     margin-left: 30%;
//     width: 70%;
//     .rightbar{
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: space-around;
        
//     // @include shadow();

//             .card{
//                 @include shadow();
//             }
//     }
    
   
// }
// .close{
//     float: right; 
//     color: red;
//     margin-right: 5px;
//     cursor: pointer;
//     opacity: 0.4;
// }
// .close:hover{
//     opacity: 1;

// }
// .modal{
//     display: none;
//     .content-back{
//         position: fixed;
        
//         left: 0;
//         top: 0;
//         width: 100%;
//         height: 100vh;
//         background-color: rgba(0, 0, 0, 0.541);
//         .popup-box{
//             transition: 3s;
//             margin: auto;
//             @include box-egde(5px);
//             background-color: honeydew;
//             border: 1 solid grey;
//             width: 90%;
//             max-width:400px;
//             .popup-box-body{
//                 color: $font-color;
//                 margin:10px;
                
//             }
//             .popup-box-footer{
//                 display: flex;
//                 justify-content: space-around;
//                 padding-bottom: 10px;
//                 .button{
//                     @extend .button;
//                     width: 20%;
//                     &:hover{
//                         @include shadow();
//                     }
//                 }
//                 .green{
//                     @include bg-color(green);
//                 }
//                 .red{
//                     @include bg-color(tomato);
//                 }
//             }
//         }
//     }

// }

// .cust_button{
//     @extend .button;
//     // width: 10%;
//     float: right;
//     margin: 12px;
// }
// @media (max-width:762px) 
// {
//     .sidebar{
//         position: static;
//         width: 100%;
//         overflow-y: unset;
//         min-height: 100vh;
//     }
//     .content{
//         position: static;
//         width: 100%;
//         margin: 0;
//     }
//     body{
//         width: 100%;
//     }
// }