.outer-box {
  display: flex;
  margin: 20px;
  border: 2px solid black;
  max-width: 400px;
  width: 100%;
  flex-direction: column;
  .item-image {
    display: flex;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .item-title-box {
    word-break: break-all;
    padding: 10px;
    p {
      margin: 0;
      font-weight: 600;
      font-size: 15pt;
    }
  }
}
.current-bid {
  display: flex;
  justify-content: center;
  p {
    background: black;
    color: whitesmoke;
    text-align: center;
    font-weight: 600;
    font-size: 15pt;
    display: inline-block;
    margin: 3px;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
  }
  .bid-price {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.445);
    color: black;
    width: 100%;
  }
}
.valid-date {
  text-align: center;
  p{
      margin: 3px;
  }
}
@media screen and (max-width: 812px) {
  .outer-box {
    width: 90%;
    max-width: 320px;
  }
}
